<!--footer-->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p><img src="__PUBLIC__/images/logo1.jpg" width="100" alt="" /></p>
                <address>
                    <p><i class="fa fa-map-marker"></i> 肇庆市睦岗镇南亚路南亚工业区</p>
                    <p><i class="fa fa-phone"></i> (0758)2877017</p>
                    <p><i class="fa fa-print"></i> (0758)2878014</p>
                    <p><i class="fa fa-envelope"></i> <a href="mailto:#">sales@ledtech.com.cn</a></p>
                </address>
            </div>
            
            <div class="col-md-5">
                <p class="heading">关于立德</p>
                <p style="line-height:2">肇庆市立德电子有限公司将立足肇庆、放眼世界的宏观理念，贯彻全球化的运筹布局，致力于专业分工以及资源整合，强化我们的核心技术与优势能力，最重要的是发挥团队合作精神，以追求立德公司永久经营与回馈社会的使命。 </p>
            </div>
            <div class="col-md-4">
                <p class="heading">立德电子</p>
                <ul class="footer-navigate">
                    <li><a href="{:U('About/index')}">关于立德</a></li>
                    <li><a href="{:U('Goods/index')}">产品展示</a></li>
                    <li><a href="{:U('News/index')}">新闻资讯</a></li>
                    <li><a href="{:U('Contact/index')}">联系我们</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!--footer menu-->
<section id="footer-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p class="copyright">Copyright &copy; 2016.肇庆市立德电子有限公司 All rights reserved.</p>
            </div>
        </div>
    </div>
</section>