<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <link rel="shortcut icon" href="images/favicon.ico" />
    <title>肇庆市立德电子有限公司</title>
    <link href="__BOOTSTRAP__/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="__PUBLIC__/css/style.css" type="text/css" rel="stylesheet" />
    <link href="__PUBLIC__/css/prettyPhoto.css" type="text/css" rel="stylesheet" />
    <link href="__PUBLIC__/css/font-icomoon.css" type="text/css" rel="stylesheet" />
    <link href="__PLUGINS__/fa/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>