<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
<script type="text/javascript" src="__BOOTSTRAP__/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/hoverIntent.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.quicksand.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.flexslider.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jflickrfeed.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.elastislide.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.tweet.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/smoothscroll.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.ui.totop.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/main.js"></script>