<!DOCTYPE html>
<include file="Public/header" />
<body>
	<include file="Public/nav" />
	<!--page header / breadcrumbs-->
<section class="breadcrumbs">
    <div class="container">
        <div class="page-header">
            <div class="row">
                <div class="col-md-8">
                    <h1>肇庆市立德电子有限公司</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="container">
	<div class="container">

<!-- Docs nav
================================================== -->
		<div class="row">
			<div class="col-md-3">
				<ul class="nav nav-pills nav-stacked">
					<li><a href="#company">公司介绍</a></li>
					<li><a href="#quality">品质保证</a></li>
				</ul>
			</div>
			<div class="col-md-9">
				<!-- Global Bootstrap settings
				================================================== -->
				<section id="company">
					<h1>公司介绍</h1>
					<h3>企业宗旨</h3>
					<p>肇庆市立德电子有限公司将立足肇庆、放眼世界的宏观理念，贯彻全球化的运筹布局，致力于专业分工以及资源整合，强化我们的核心技术与优势能力，最重要的是发挥团队合作精神，以追求立德公司永久经营与回馈社会的使命。 </p>     
					<h3>经营理念</h3>
					<p>立德创立于1977年，三十年来立德秉持着『诚信』、『负责』、『精益求精』的座右铭，专业生产发光二极体指示灯与显示器，三十年来不断的培育人才，研发新产品，更新自动化设备，以满足客服的需求。 </p>     
					<h3>核心价值</h3>
					<div class="row">
						<img src="__PUBLIC__/images/ledtech.jpg" alt="核心价值" />
					</div>
				</section>
				<section id="quality">
					<h1>品质保证</h1>
					<h3>品质政策</h3>
					<div style="margin-left:50px">
					<img src="__PUBLIC__/images/policy_pic1.jpg" alt="品质政策" />
					</div>
					<h3>品保历程</h3>
					<ul class="icons ul-list" style="margin-left:50px">
                        <li><a>1977年 肇庆市立德电子有限公司成立，随机设立品管部门，建立品管制度，综理品管事务。</a></li>
                        <li><a>1980年 荣获经济部商检局颁发〝品管乙等工厂证书〞。</a></li>
                        <li><a>1982年 荣获经济部商检局颁发〝品管甲等工厂证书〞。</a></li>
                        <li><a>1995年 荣获〝ISO 9002证书〞。</a></li>
						<li><a>1998年 荣获〝QS 9000证书〞。</a></li>
						<li><a>2001年 通过ISO 9001:2000 品质认证。</a></li>
						<li><a>2003年 通过ISO 14001 环境认证。</a></li>
						<li><a>2006年 通过ISO/TS 16949 品质认证。</a></li>
						<li><a>2009年 完成ISO 14001 环境认证证书更新。</a></li>
						<li><a>2012年 完成ISO 14001 环境认证更新。</a></li>
						<li><a>2012年 完成ISO 9001:2008品质认证更新。</a></li>
						<li><a>2012年 完成ISO/TS 16949:2009 品质认证更新。</a></li>
					</ul>
					<div style="margin-left:50px">
						<img src="__PUBLIC__/images/policy_pic2.jpg" alt="品质政策" />
						<br />
						<img src="__PUBLIC__/images/policy_pic3.jpg" alt="品质政策" />
						<img src="__PUBLIC__/images/policy_pic4.jpg" alt="品质政策" />
						<img src="__PUBLIC__/images/policy_pic5.jpg" alt="品质政策" />
					</div>
				</section>
			</div>
		</div>

	</div>
</section>

	<include file="Public/footer" />
	<include file="Public/script" />
	<script>
		$("#menu li:eq(1)").addClass("current").siblings().removeClass("current");
	</script>
</body>
</html>